<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="swaggerConfig">
      <section name="swagger" type="Swaggerator.Configuration.SwaggerSection" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
  </configSections>
  <swaggerConfig>
    <swagger serviceName="*">
      <tag name="doody" visible="true"/>
    </swagger>
  </swaggerConfig>
</configuration>